html,
body {
	display: inline-grid;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-items: center;
  align-items: center;
  background-color: white;
}

p {
	margin: 0.5rem !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
}

.title-name {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 22px;
		align-items: center;
}

.title-company {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    align-items: center;
}

.text-detail {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #575757;
    font-size: 12px;
    align-items: center;
}

.bottom {
	display: grid;
}

.btn-primary {
	padding: 20px 80px;
	background-color: #b3ffb3;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: black;
	text-shadow: black;
}
